<main class="container-products">
<div>
  <h1 class="title">LISTADO DE PRODUCTOS</h1>
  <h3>{{welcomeMessage}}</h3>
  <a class="carritoButton" href="/logout">Cerrar Sesión</a> 
  <button id="verCarritoBtn" class="carritoButton">Ver Carrito</button>
</div>

<div class="productList">
  {{#each products.products}}
  <div class="productCard">
    <div class="cardProduct__image">
      <img src="{{this.thumbnail}}" alt="{{this.title}}" />
    </div>
    <div class="cardProduct__info">
      <h3 class="nombreProducto">{{this.title}}</h3>
      <p class="detalleProducto">Descripcion: {{this.description}}</p>
      <p class="detalleProducto">Precio: ${{this.price}}</p>
      <p class="detalleProducto">Stock: {{this.stock}}</p>
      <p class="detalleProducto">Codigo: {{this.code}}</p>
      <p class="detalleProducto">Id Prod: {{this._id}}</p>

      <div class="cartControl">
        <p for="quantity-{{this._id}}">Cantidad:</p>
        <div class="quantity">
          <button class="boton_menos" type="button" onclick="updateQuantity('minus', 'quantity-{{this._id}}')">-</button>
          <input type="number" id="quantity-{{this._id}}" name="quantity" min="1" max="{{this.stock}}" value="1" class="cantidad" />
          <button class="boton_mas" type="button" onclick="updateQuantity('plus', 'quantity-{{this._id}}')">+</button>
        </div>
        <button class="addCartButton" onclick="addToCart('{{this._id}}')">Agregar al Carrito</button>
      </div>
    </div>
  </div>
{{/each}}
</div>
<div>
  <nav aria-label="Page navigation">
      <ul class="pagination">
          <li class="page-item {{#unless hasPrevPage}}disabled{{/unless}}">
              <a href="?page={{prevPage}}" class="page-link">Anterior</a>
          </li>

          {{#if hasPrevPage}}
          <li class="page-item">
              <a href="?page={{prevPage}}" class="page-link">{{prevPage}}</a>
          </li>
          {{/if}}

          <li class="page-item active" aria-current="page">
              <a href="#" class="page-link">{{currentPage}}</a>
          </li>

          {{#if hasNextPage}}
          <li class="page-item">
              <a href="?page={{nextPage}}" class="page-link">{{nextPage}}</a>
          </li>
          {{/if}}

          <li class="page-item {{#unless hasNextPage}}disabled{{/unless}}">
              <a href="?page={{nextPage}}" class="page-link">Siguiente</a>
          </li>
      </ul>
  </nav>
</div>

</main>
<script src="/js/products.js"></script>


